.search-new-container {
  overflow-x: hidden;
}

.side-menu-back-drop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 20;
}

.search-new-header {
  margin-top: 26px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 20;
  transition: height 0.3s;
  height: 173px;
}

.header-background-logo {
  /*max-width: 135px;*/
  display: flex;
  transition: padding-top 0.3s;
  margin: 29px auto 0 ;
  position: absolute;
  width: 100%;
  bottom: 74px;
}

.header-background-logo img {
  margin: 0 auto 0 auto;
  max-height: 65px;
  height: 70%;
  width: auto;
}

.search-form-container {
  position: absolute;
  width: 100%;
  bottom: 23px;
}

.search-form {
  display: flex;
}

.search-bar {
  margin: 10px auto 3px auto;
  width: 79%;
  height: 37px;
  border-radius: 4px;
  font-size: 16px;
  border: unset;
}

.search-bar[type=text] {
  text-align: center;
  color: rgb(195, 195, 197);
}

.search-new-body {
  padding-top: 198px;
  transition: padding-top 0.3s;
  background-color: rgb(248, 248, 249);
}


/*when input onClick*/
.search-new-header-collapse {
  height: 164px;
  width: 100%;
  background-size: unset;
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  z-index: 20;
  transition: height 0.3s;
}

.header-background-logo-collapse {
  display: none;
}

.search-new-body-collapse {
  padding-top: 115px;
  transition: padding-top 0.3s;
  background-color: rgb(248, 248, 249);
}

.search-form-container-collapse {
  position: absolute;
  width: 100%;
  bottom: 23px;
}

.search-form-collapse {
  display: flex;
}

.search-bar-collapse {
  margin: 20px 0 18px 33px;
  width: 63%;
  height: 37px;
  border-radius: 7px;
  font-size: 16px;
  border: unset;
}

.search-bar-collapse[type=text] {
  padding-left: 14px;
  color: rgb(109, 109, 114);
}

.cancel-search-button {
  padding-top: 28px;
  margin-left: 13px;
  color: rgb(255, 255, 255);
  font-size: 17px;
}

@media only screen and (min-width: 400px) {
  .search-bar {
    margin: 37px auto 0 auto;
  }

  .search-form-container {
    bottom: 37px;
  }

  .search-new-header {
    height: 187px;
  }

  .header-background-logo {
    bottom: 85px;
  }

  .search-new-body {
    padding-top: 211px;
    transition: padding-top 0.3s;
  }

  .search-new-header-collapse {
    height: 158px;
    background-size: unset;
    background-position: bottom;
    transition: height 0.3s;
  }

  .search-form-container-collapse {
    position: absolute;
    width: 100%;
    bottom: 19px;
  }

  .search-form-collapse {
    display: flex;
  }

  .search-bar-collapse {
    margin: 20px 0 18px 40px;
    width: 63%;
    height: 37px;
    border-radius: 7px;
    font-size: 16px;
  }

  .cancel-search-button {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .search-new-header {
    height: 135px;
  }

  .header-background-logo {
    bottom: 57px;
  }

  .header-background-logo img {
    max-height: 55px;
  }

  .search-form-container {
    bottom: 0;
  }

  .search-form {
    padding: 58px 0 17px 0;
  }

  .search-bar {
    margin: 19px auto 0 auto;
    height: 31px;
    width: 71%;
  }

  .search-new-body {
    padding-top: 162px;
  }

  .search-new-header-collapse {
    height: 129px;
    background-position: bottom;
    transition: height .3s;
  }

  .search-form-container-collapse {
    bottom: 0;
  }

  .search-new-body-collapse {
    padding-top: 75px;
  }

  .search-form-collapse {
    padding: 103px 0 15px 0;
  }

  .search-bar-collapse {
    margin: 20px 0 18px 25px;
  }

  .cancel-search-button {
    margin-left: 10px;
  }
}