.search-new-container {
  overflow-x: hidden;
}

.side-menu-back-drop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 20;
}

.search-new-header {
  padding-top: 21px;
  margin-top: 15px;
  width: 100%;
  background-image: url("../../assets/searchBackgroundUS.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  z-index: 20;
  transition: height 0.3s;
}

.emccLogo {
  display: flex;
  padding-top: 67px;
  transition: padding-top 0.3s;
}

.emccLogo img {
  margin: 0 auto 0 auto;
}

.search-form {
  display: flex;
  padding: 74px 0 20px 0;
}

.search-bar {
  margin: 25px auto 5px auto;
  width: 73%;
  height: 37px;
  border-radius: 7px;
  font-size: 16px;
  border: unset;
}

.search-bar[type=text] {
  text-align: center;
}

.search-new-body {
  padding-top: 195px;
  transition: padding-top 0.3s;
}


/*when input onClick*/
.search-new-header-collapse {
  height: 200px;
  width: 100%;
  margin-top: -44px;
  background-image: url("../../assets/searchBackgroundUS.png");
  background-size: unset;
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  z-index: 20;
  transition: height 0.3s;
}

.emccLogo-collapse {
  padding-top: 0;
  transition: padding-top 0.3s;
}

.search-new-body-collapse {
  padding-top: 115px;
  transition: padding-top 0.3s;
}

.search-form-collapse {
  display: flex;
  padding: 103px 0 16px 0;
}

.search-bar-collapse {
  margin: 20px 0 18px 33px;
  width: 63%;
  height: 37px;
  border-radius: 7px;
  font-size: 16px;
  border: unset;
}

.search-bar-collapse[type=text] {
  padding-left: 14px;
  color: rgb(109, 109, 114);
}

.cancel-search-button {
  padding-top: 28px;
  margin-left: 13px;
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

@media only screen and (min-width: 400px) {
  .search-bar {
    margin: 35px auto 0 auto;
  }

  .search-form {
    padding: 74px 0 30px 0;
  }

  .search-new-body {
    padding-top: 211px;
    transition: padding-top 0.3s;
  }

  .search-new-header-collapse {
    height: 211px;
    margin-top: -53px;
    background-size: unset;
    background-position: bottom;
    transition: height 0.3s;
  }

  .search-form-collapse {
    display: flex;
    padding: 115px 0 15px 0;
  }

  .search-bar-collapse {
    margin: 20px 0 18px 40px;
    width: 63%;
    height: 37px;
    border-radius: 7px;
    font-size: 16px;
  }

  .cancel-search-button {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .search-new-header {
    margin-top: 16px;
  }

  .search-form {
    padding: 66px 0 15px 0;
  }

  .search-bar {
    margin-top: 15px;
  }

  .search-new-body {
    padding-top: 176px;
  }

  .search-new-header-collapse {
    height: 198px;
    background-position: bottom;
    transition: height .3s;
  }

  .search-form-collapse {
    padding: 103px 0 15px 0;
  }

  .search-bar-collapse {
    margin: 20px 0 18px 25px;
  }

  .cancel-search-button {
    margin-left: 10px;
  }
}