.event-list-item-container {
  display: flex;
  flex-direction: row;
}

.event-date-container {
  width: 20%;
  background-color: rgb(248, 248, 249);
}

.event-date {
  width: 50px;
  margin: auto;
  text-align: center;
  color: rgb(195, 195, 197);
}

.event-month {
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 12px;
}

.event-day {
  font-size: 36px;
  margin: -12px 0 0 0;
  font-weight: bold;
}

.event-name {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-name p {
  margin-left: 15px;
  margin-bottom: 0;
  color: rgb(109, 109, 114);
  font-size: 14px;
  font-weight: 600;
}

.chosen-event-list-date-container-highlight {
  background-color: rgb(136, 124, 182);
}

.chosen-event-list-event-date-highlight {
  color: rgb(255, 255, 255);
}

.chosen-event-list-name-highlight {
  background-color: rgb(240, 240, 241);
}

@media only screen and (max-width: 320px) {
  .event-name p {
    margin-right: 20px;
  }
}