.event-schedule-container {
  background-color: #f8f8f9;
  overflow: hidden;
}

.event-schedule-content {
  padding-top: 54px;
  height: 94%;
  display: flex;
  display:-webkit-box;
  display:-ms-flexbox;
  flex-direction: column;
}

.schedule {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding-top: 4px;
  display: flex;
  display:-webkit-box;
  display:-ms-flexbox;
  flex: 1;
  -webkit-flex-basis: 10px;
  flex-direction: column;
}

.tracks {
  display: flex;
  display:-webkit-box;
  display:-ms-flexbox;
  flex-direction: column;
  -webkit-flex-basis: 10px;
  flex: 1;
}

@media only screen and (max-width: 320px) {
  .event-schedule-content {
    padding-top: 49px;
  }
}

@media only screen and (max-height: 720px) {
  .event-schedule-content {
    height: 661px;
  }
}

@media only screen and (max-height: 640px) {
  .event-schedule-content {
    height: 583px;
  }
}

@media only screen and (max-height: 570px) {
  .event-schedule-content {
    height: 508px;
  }
}

@media only screen and (max-height: 460px) {
  .schedule {
    padding-top: 0;
  }

  .event-schedule-content {
    height: 415px;
  }
}

@media only screen and (min-height: 721px) {
  .event-schedule-container {
    height: 100vh;
  }

  .event-schedule-content {
    height: 94%;
  }
}