.event-schedule-container {
  height: 100vh;
  overflow-x: hidden;
  background-color: #f8f8f9;
}

.event-schedule-content {
  padding-top: 54px;
}

.schedule {
  overflow-x: auto;
  position: relative;
  padding-top: 57px;
}


@media only screen and (max-width: 320px) {
  .event-schedule-content {
    padding-top: 49px;
  }
}