.schedule-track-container {
  margin-bottom: 3px;
  /*width: 2100px;*/
  position: relative;
  flex: 1 1 0;
  -webkit-flex-basis: 10px;
}

.track-session-content {
  display: inline-block;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.sub-track-session-content {
  display: flex;
  display:-webkit-box;
  display:-ms-flexbox;
  flex-direction: row;
  height: 100%;
}

.track-title-container {
  width: 70px;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  text-decoration: none;
  background-color: #23182d !important;
  color: white;
  z-index: 10;
}

.track-title-sub-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #23182d !important;
}

.track-title {
  font-size: 12px;
  color: white;
  font-weight: bold;
  word-break: break-word;
  white-space: normal;
  margin: 10px;
}

