.session-item {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
}

.session-side-theme {
  width: 7px;
  height: 100%;
}

.session-content {
  width: 100%;
  padding: 12px 0 0 11px;
  font-size: 12px;
  color: rgb(109, 109, 114);
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.session-name {
  font-weight: bold;
  margin: 0;
}

.is-favourite-theme {
  background-color: rgb(124, 96, 206);
}

.is-favourite-session-item {
  background-color: rgb(223, 220, 235);
}

@media only screen and (max-height: 570px) {
  .session-content {
    padding: 7px 0 0 5px;
  }
}


@media only screen and (max-height: 460px) {
  .session-content {
    padding: 2px 0 0 6px;
  }
}