.bm-burger-button {
  position: absolute !important;
  width: 36px;
  height: 30px;
  top: 22px;
  left: 20px;
}

.bm-burger-bars {
  display: block;
  width: 28px;
  height: 3px !important;
  margin-bottom: 4px;
  position: relative !important;
  background: white;
  border-radius: 3px;
  z-index: 1;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 80% !important;
  transition: all 0.4s ease 0s !important;
  top: 0;
  left: 0;
}

.bm-menu {
  background-image: linear-gradient(rgb(77, 80, 84), rgb(57, 58, 59));
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-item {
  display: inline-block;
  outline: none !important;
  box-shadow: none !important;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.sidemenu-header {
  width: 100%;
  height: 300px;
  background-color: pink;
}

.sidemenu-content {
  width: 100%;
  height: 400px;
  background-color: orange;
}

.side-menu-footer {
  display: flex !important;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  position: absolute;
  bottom: 23px;
}

.side-menu-footer button {
  padding: 0;
}

.setting-button {
  width: 20px;
  height: 21px;
  margin-left: 28px;
}

.logout-button {
  width: 19px;
  height: 21px;
  margin-right: 28px;
}

.profile-name{
  color: rgb(247, 247, 247);
  font-size: 10px;
  margin-top: 5px;
  letter-spacing: 1.25pt;
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 320px) {
  .setting-button {
    margin-left: 25px;
  }

  .logout-button {
    margin-right: 25px;
  }

  .bm-burger-bars {
    width: 25px;
    height: 2px !important;
  }

  .bm-burger-button {
    width: 26px;
    height: 17px;
  }
}

@media only screen and (min-width: 400px) {
  .setting-button {
    margin-left: 31px;
  }

  .logout-button {
    margin-right: 31px;
  }
}

@media only screen and (max-height: 490px) {
  .side-menu-footer {
    bottom: 14px;
  }
}

@media only screen and (max-height: 568px) {
  .side-menu-footer {
    bottom: 14px;
  }
}


@media only screen and (max-height: 372px) {
  .side-menu-footer {
    position: unset;
    margin-bottom: 14px;
    padding-top: 20px;
  }
}
