.settings-screen-container {
  overflow-x: hidden;
}

.settings-screen-content {
  padding: 54px 0 20px 0;
  background-color: rgb(248, 248, 249);
}

.setting {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

.setting p {
  margin-top: 0;
  font-size: 12px;
  letter-spacing: 1.8pt;
  font-family: 'Lato', sans-serif;
  padding: 26px 0 9px 18px;
  color: rgb(109, 109, 114);
}

.setting-note {
  background-color: rgb(248, 248, 249);
  width: 100%;
}

.setting-note p {
  color: rgb(158, 158, 161);
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5pt;
  line-height: 21px;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 8px 0 28px 0;
  border-bottom: 1px solid rgb(243, 243, 244);
}

@media only screen and (max-width: 320px) {
  .settings-screen-content {
    padding-top: 49px;
  }
}