.organization-header {
  background-image: linear-gradient(rgb(25, 61, 110), rgb(30, 71, 127));
}

.organization-sub-header {
  padding-top: 52px;
}

.organization-sub-header img {
  width: 100%;
}

.organization-description p {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  color: rgb(243, 243, 244);
  line-height: 20px;
  letter-spacing: 0.5pt;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.organization-content {
  padding-top: 18px;
}