.day-schedule-container {
  position: absolute;
  width: 100%;
  z-index: 11;
  height: 57px;
}

.day-schedule-sub-container {
  /*height: 583px;*/
  display: flex;
  flex-direction: column;
}

.day-schedule-sub-container .tab-link {
  width: 100%;
  height: 42px;
  background-color: rgb(255, 255, 255);
  outline: none !important;
  box-shadow: none !important;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.day-tab {
  display: flex;
  flex-direction: row;
}

.tab-content {
  height: 534px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .day-schedule-container {
    width: 500px;
  }

  .tab-content {
    height: 89vh;
  }
}

@media only screen and (max-width: 320px) {
  .tab-content {
    height: 375px;
  }
}

@media only screen and (max-height: 896px) {
  .tab-content {
    height: 89vh;
  }
}

@media only screen and (max-height: 812px) {
  .tab-content {
    height: 88vh;
  }
}

@media only screen and (max-height: 720px) {
  .tab-content {
    height: 616px;
  }
}

@media only screen and (max-height: 640px) {
  .tab-content {
    height: 534px;
  }
}

@media only screen and (max-height: 570px) {
  .tab-content {
    height: 461px;
  }
}

@media only screen and (max-height: 460px) {
  .tab-content {
    height: 375px;
  }

  .day-schedule-sub-container .tab-link {
    height: 34px;
  }

  .tab-link p {
    padding-top: 12px;
  }

  .day-schedule-container {
    height: 41px;
  }
}




