.day-schedule-container {
  position: absolute;
  width: 100%;
  z-index: 11;
  height: 57px;
}

.day-schedule-sub-container {
  display: flex;
  flex-direction: row;
}

.day-schedule-sub-container .tab-link {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  outline: none !important;
  box-shadow: none !important;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}
