.side-menu-container {
  height: 100%;
  box-shadow: 5px 0 5px rgba(71, 57, 57, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 305px;
  z-index: 200;
  overflow-y: scroll;
  background-image: linear-gradient(rgb(77, 80, 84), rgb(57, 58, 59));
}