.side-menu-container {
  height: 100%;
  box-shadow: 5px 0 5px rgba(71, 57, 57, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 305px;
  z-index: 200;
  overflow-y: scroll;
}

.side-menu-header {
  background-image: linear-gradient(rgb(77, 80, 84), rgb(57, 58, 59));
  width: 100%;
  height: 197px;
  display: flex;
  justify-content: center;
}

.sub-side-menu-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 44px 0 18px 0;

}

.sub-side-menu-header button {
  padding: 0;
}

.profile-action {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.profile-action button {
  height: 38px;
  width: 38px;
}

.profile-action .icon {
  width: 38px;
  height: 38px;
}

.profile-active-option {
  width: 200px;
  height: 30px;
}

.profile-active-option img {
  width: 100%;
}

.side-menu-content {
  background-image: linear-gradient(rgb(77, 80, 84), rgb(57, 58, 59));
  width: 100%;
}

.navigation-list {
  width: 80%;
  margin: auto;
  padding-top: 41px;
  padding-bottom: 41px;
}

.side-menu-footer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  padding-top: 141px;
  padding-bottom: 30px;
}

.side-menu-footer button {
  padding: 0;
}

.setting-button {
  width: 20px;
  height: 21px;
}

.logout-button {
  width: 19px;
  height: 21px;
}

.profile-name{
  color: rgb(247, 247, 247);
  font-size: 10px;
  margin-top: 5px;
  letter-spacing: 1.25pt;
  font-family: 'Lato', sans-serif;
}

