.user-image {
  position: relative;
}

.user-image-standard {
  width: 60px;
  height: 60px;
  top: 7px;
}

.user-image-detail {
  width: 91px;
  height: 91px;
}

.user-image-container {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 2px solid transparent;
  /*background-image: linear-gradient(white, white), radial-gradient(circle at top, #887CB6, #23182D);*/
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.image-standard {
  width: 63px;
  height: 63px;
  padding-top: 3px;
  margin-left: 3px;
  border-radius: 50%;
}

.image-detail {
  width: 91px;
  height: 91px;
  padding-top: 3px;
  border-radius: 50%;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

.user-active-status {
  border-radius: 50%;
  position: absolute;
}

.active-status-standard {
  width: 13px;
  height: 13px;
  right: -8px;
  bottom: -6px;
  border: 1px solid white;
}

.active-status-detail {
  width: 15px;
  height: 15px;
  right: 2px;
  bottom: 3px;
  border: 1px solid white;
}

.true {
  background-color: rgb(126, 211, 33);
}

.false {
  background-color: rgb(195, 195, 197);
}