.user-item-container {
  display: flex;
  flex-direction: column;
  /*margin-top: 20px;*/
}

.user-item-sub-container {
  display: flex;
  flex-direction: row;
}

.user-image {
 position: relative;
}

.user-image img {
  width: 60px;
  height: 60px;
  margin-left: 13px;
  margin-top: 3px;
  border-radius: 50%;
}

.user-active-status {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: 46px;
  right: 3px;
}

.active {
  background-color: rgb(126, 211, 33);
}

.offline {
  background-color: rgb(195, 195, 197);
}

.user-content {
  width: 283px;
  height: 63px;
  margin-left: 8px;
  margin-top: 5px;
}

.user-name {
  color: rgb(109,109,114);
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.user-description {
  font-size: 16px;
  letter-spacing: 0.5pt;
  font-family: 'Lato', sans-serif;
  color: rgb(109,109,114);
}

.separation-line {
  display: block;
  height: 1px;
  border-bottom: 1px solid rgb(243, 243, 244);
  width: 350px;
  margin: 10px auto 10px auto;
}