.user-item-container {
  display: flex;
  flex-direction: column;
}

.user-item-sub-container {
  display: flex;
  flex-direction: row;
  margin-left: 13px;
  height: 77px;
}

.user-content {
  margin: 5px auto 0 18px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-name {
  color: rgb(109,109,114);
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.user-biography {
  font-size: 16px;
  letter-spacing: 0.5pt;
  font-family: 'Lato', sans-serif;
  color: rgb(109,109,114);
}

.no-user-biography-username {
  color: rgb(109,109,114);
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin: auto 0 auto 0;
}

.separation-line {
  display: block;
  height: 1px;
  border-bottom: 1px solid rgb(243, 243, 244);
  width: 80%;
  margin: 10px auto 10px auto;
}