.menuToggle {
  display: block;
  position: absolute;
  top: 22px;
  left: 24px;
  z-index: 1;
  user-select: none;
  border: unset;
  padding: 0;
  background: unset;
}

.menuToggle span {
  display: block;
  width: 26px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
}