.favourite-recommendation-container {
  padding-top: 54px;
}

.favourite-recommendation-sub-container .tab-link {
  width: 50%;
  height: 50px;
  background-color: rgb(255, 255, 255);
}

.tab-link-active {
  font-weight: unset !important;
}

.tab-link p {
  color: rgb(109, 109, 114);
  font-size: 12px;
  letter-spacing: 1.8pt;
  text-align: center;
  margin: 0;
  padding: 26px 0 9px 0;
}

.sliding-hr {
  width: 50%;
  height: 7px;
  background: rgb(35, 24, 45);
  margin: 0;
  border: none;
  transition: .3s ease-in-out;
}

.tab-panel {
  padding-top: 18px;
}

@media only screen and (max-width: 320px) {
  .favourite-recommendation-container {
    padding-top: 49px;
  }
}