.screen-header-container {
  position: absolute;
  width: 100%;
  z-index: 200;
}

.screen-header-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding-top: 18px;
  padding-bottom: 14px;
}

.screen-header-name-container {
  display: flex;
}

.screen-header-name {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.8pt;
  text-transform: uppercase;
  margin-top: 3px;
  height: 19px;
}

.screen-header-event-name {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3px;
  height: 19px;
  cursor: pointer;
}

.icon-arrow {
  margin-left: 5px;
  color: white;
}

.icon-arrow.up {
  margin-top: 6px;
}

.back-button {
  position: absolute;
  left: 19px;
  outline: none !important;
  box-shadow: none !important;
}

.icon-back {
  width: 10px !important;
  height: 18px;
  color: white;
}

.favourite-button {
  position: absolute;
  right: 15px;
  outline: none !important;
  box-shadow: none !important;
}

.close-button {
  position: absolute;
  right: 12px;
}

.icon-close {
  width: 26px !important;
  height: 27px;
  color: white;

}

.icon-close img {
  width: 100%;
}

.info-button {
  position: absolute;
  left: 21px;
}

.map-button {
  position: absolute;
  right: 19px;
}

.icon-heart {
  width: 24px !important;
  height: 20px;
  color: white;
}



.show-qr-code-button {
  width: 45px;
  height: 47px;
  position: absolute;
  right: 21px;
  top: 7px;
}

.qr-code-icon {
  width: 100%;
}

.show-more-schedule-option-button {
  position: absolute;
  right: 20px;
}

.icon-more-vertical {
  color: white;
  width: 8px !important;
  height: 26px;
}

@media only screen and (max-width: 320px) {
  .screen-header-items-container {
    padding: 16px 0 11px 0;
  }

  .info-button {
    left: 17px;
  }

  .map-button {
    right: 16px;
  }
}

/*background_colors*/

.light-blue {
  background-image: linear-gradient(rgb(193, 214, 238), rgb(187, 207, 230));
}

.blue {
  background-image: linear-gradient(rgb(25, 61, 110), rgb(31, 68, 117));
}

.light-mint {
  background-color: rgb(69, 214, 197);
}

.purple-gradient-search-new {
  background-image: linear-gradient(rgb(22, 10, 32), rgb(27, 14, 37));
}

.purple-gradient-user-detail {
  background-image: linear-gradient(rgb(22, 10, 32), rgb(24, 13, 33))
}

.purple-gradient {
  background-image: linear-gradient(rgb(22, 10, 32), rgb(23, 11, 33));
}