.screen-header-container {
  position: fixed;
  width: 100%;
  z-index: 200;
}

.screen-header-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 11px;
}

.screen-header-name-container {
  display: flex;
}

.screen-header-name {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1.8pt;
  text-transform: uppercase;
  margin-top: 3px;
  height: 19px;
}

.screen-header-event-name {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-top: 3px;
  height: 19px;
}

.icon-show-event-list {
  margin-left: 5px;
  color: white;
}

.back-button {
  position: absolute;
  left: 20px;
}

.favourite-button {
  position: absolute;
  right: 15px;
}

/*.close-button {*/
/*  position: absolute;*/
/*  right: 18px;*/
/*}*/

.info-button {
  position: absolute;
  left: 21px;
}

.map-button {
  position: absolute;
  right: 19px;
}

.icon-back {
  width: 26px !important;
  height: 23px;
  color: white;
}

.icon-heart {
  width: 28px !important;
  height: 23px;
  color: white;
}

/*.icon-close {*/
/*  width: 27px !important;*/
/*  height: 27px;*/
/*  color: white;*/
/*}*/

.icon-map {
  width: 26px;
  height: 23px;
}

.icon-map img {
  width: 100%;
}

.icon-info {
  width: 25px;
  height: 25px;
}

.icon-info img {
  width: 100%;
}

/*background_colors*/

.light-blue {
  background-image: linear-gradient(rgb(193, 214, 238), rgb(187, 207, 230));
}

.blue {
  background-image: linear-gradient(rgb(25, 61, 110), rgb(31, 68, 117));
}

.light-mint {
  background-color: rgb(69, 214, 197);
}